<!DOCTYPE html>
<html>
  <head>
    <title>Postapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header"><h3>ついーとあぷりけーしょん</h3></header>
    <%= yield %>
    <fooder class="fooder"><p>@20230601作成</p></fooder>
  </body>
</html>